body.bg {
    background-color:#D2E6FF ;
}

.card{
    display: block;
    padding: auto;
    margin: auto;
}
.img{
    display:inline-block;
   padding: 5px;

    justify-content: center;
    
    
    
    
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}